.lengua{
    width: 0;
    height: 0;
    top: 20px;
    left: 300px;
    position: absolute;
    color: black;
    box-shadow: 
        150px 240px 0 0 currentColor,
        450px 240px 0 0 currentColor;
}
.lengua::before{
    content: "";
    position: absolute;
    left: 240px;
    top: 310px;
    width: 200px;
    height: 60px;
    border-bottom: 50px solid red;
    border-radius: 50% 20% 100% 100%;
    transform: rotate(0deg);
    transform-origin: right 190px;
}
.lengua::after{
    content: "";
    position: absolute;
    left: 600px;
    top: 100px;
    width: 0px;
    height: 00px;
    border-bottom: solid 50px currentColor;
    border-radius: 0 0 0 200%;
    transform: rotate(-175deg);
    transform-origin: left 210px;
}

